<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
</head>
<body>
	<section id="particles-js">
		<div id="main">
			<form action="/new" method="POST">
			  <input type="text" name="task-name" placeholder="Task Name:">
			  <input type="text" name="task-desc" placeholder="Description:">
			  <input type="text" name="task-duedate" placeholder="Due Date:">
			  <input type="submit" value="Sign Up">
			</form>
		</div>
	</section>
</body>