@import "https://fonts.googleapis.com/css?family=Lato:100";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html{
    font-size: 10px;
    font-family: "Lato", Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: gray;
    overflow: hidden;
}

section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1{
    background-color: rgba(0,0,0,0.25);
    color: #fff;
    font-size: 12rem;
    letter-spacing: 2px;
    border: 3px solid #fff;
    position: absolute;
    left: 50%;
    margin: 420px auto;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem;
    text-align: center;
    display: inline-block;
}

h2{
    color: #fff;
    font-size: 4rem;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    margin: 680px auto;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}

h3{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    margin: 730px auto;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}

a{
    color: #fff;
    text-decoration: none;   
}

a:hover {
  color: #a5a5a5;
}

input{
    padding: 5px;
    margin-right: 10px;
    color: white;
    font-size: 3rem;
    background: rgba(0,0,0,0.25);
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    align-items: center;
}

#inputs{
    text-align: center;
    overflow: hidden;
    align-items: center;
    margin: 730px auto;
}

#logout-home{
    padding: 4px;
    border: 2px solid white;
    margin: 790px auto;
}

#buttons{
    padding: 4px;
    border: 2px solid white;
    margin: 760px auto;
}

p{
    text-align: center;
}

li{
    font-size: 4rem;
}

#display{
    text-align: center;
    overflow: hidden;
    align-items: center;
    margin: 630px auto;
}

#return-home{
    padding: 4px;
    border: 2px solid white;
    margin: 590px auto;
}