<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
</head>
<body>
	<h1>Login Error</h1>

	<p>It seems there was a problem. Please <a href="/">return</a> and try again.</p>
</body>
</html>