<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
</head>
<body>
	<section id="particles-js">
		<div id="main">
			<h1>Login</h1>
			<div id="inputs">
				<form action="/login" method="POST">
					<input type="text" name="username" id="username" placeholder="Username:">
					<input type="password" name="password" id="passowrd" placeholder="Password:">
					<input type="submit" id="submit" value="Login">
				</form>
			</div>
		</div>
	</section>		
</body>
</html>
