<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
</head>
<body>
	<section id="particles-js">
		<div id="main">
				<h1>Sign Up</h1>
			<div id="inputs">
				<form action="/signup" method="POST">
				  <input type="text" name="username" placeholder="Username:">
				  <input type="password" name="password" placeholder="Password:">
				  <input type="submit" value="Sign Up">
				</form>
			</div>
		</div>
	</section>
</body>
</html>