<!DOCTYPE html>
<html>
<head>
	<title>Tsk-Mngr</title>
	<link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
</head>
<body>
	<section id="particles-js">
		<div id="main">
			<% if Helpers.is_logged_in?(session) %>
			<h1>Welcome</h1>
			<h3 id="show-task"><a href="tasks/show">Show Task</a></h3>
			<h3 id="new-task"><a href="tasks/new">New Task</a></h3>
			<h3 id="edit-task"><a href="tasks/edit">Edit Task</a></h3>
			<h3 id="logout-home"><a href="/logout">Log Out</a></h3>
			<% else %>
				You are not logged in.
				<h2><a href="/">Please Login or Signup</a></h2>
			<% end%>
		</div>
	</section>
</body>
</html>